/* Generic styles */
html,
body {
	position: relative;
	height: 100%;
}

body,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #006AD4;
}

a[data-ng-click]{
    cursor: pointer;
}

input:-webkit-autofill {
    color: #fff !important;
    background-color: #FFF !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.nav-stacked>li:hover a {
	color: #006AD4;
	background-color: #E1E1E1;
}

.nav-stacked>li>a>.badge {
	color: #FFF;
	background-color: #337ab7;
}

.nav-pills>li>a>.badge {
	margin-left: 14px;
}

.table th,
.table>tbody>tr>td {
	vertical-align: middle;
	text-align: left;
	padding-left: 20px;
}

.table>tbody>tr>td.center {
	text-align: center;
}

.table th {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #006AD4;
}

.table td {
	font-weight: 100;
}

.panel-heading {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}

.spinner {
	position: absolute;
	top: 19px;
	left: 218px;
	width: 25px;
	height: 25px;
	font-size: 24px;
	display: none;
	color: #006AD4;
	-webkit-animation: rotation 1.5s infinite linear;

	&.visible {
		display: block;
	}
}

.popover {
	text-transform: none;
}

.glyphicon-question-sign,
.glyphicon-remove-sign {
	cursor: pointer;
}

/* Login */
.login {
	position: absolute;
	top: 50%;
	margin-top: -145px;
	left: 0;
	width: 100%;

	.login-inner {
		width: 350px;
		height: 290px;
		padding: 20px;
		background-color: #F1F1F1;
		margin: 0 auto;
		box-shadow: 0px 0px 16px #CCC;
		position: relative;
		border-radius: 4px;
	}

	h1 {
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.login-form {
		
		input {
			padding: 6px;
			width: 100%;
			margin-bottom: 6px;
			border: 1px solid #CCC;
			border-radius: 4px;
			font-size: 14px;
		}

		button {
			margin-top: 6px;
			border: 0;
			background-color: #FFF;
			text-transform: uppercase;
			color: #006AD4;
			font-size: 12px;
			padding: 6px 10px;

			&:hover,
			&:focus {
				color: #FFF;
				background-color: #006AD4;
			}
		}
	}

	.error-messages {
		color: rgb(211, 98, 98);
		height: 20px;
		margin-top: 14px;
		font-size: 12px;

		span:first-child {
			font-size: 22px;
		}

		span:last-child {
			padding-left: 4px;
			position: relative;
			bottom: 5px;
		}
	}

	.links {
		position: absolute;
		width: 100%;
		bottom: 20px;
		left: 20px;

		li {
			line-height: 1.2;
		}

		a {
			font-size: 12px;
		}
	}
}

/* User */
.user {
	overflow: hidden;
	padding: 10px;
	background-color: #EEE;
	box-shadow: 0px 0px 16px #CCC;
	margin-top: 40px;
	margin-bottom: 40px;

	header {
		width: 25%;
		padding: 10px;
		float: left;

		h1 {
			font-size: 18px;
			text-transform: uppercase;
		}

		h2 {
			font-size: 12px;
			font-weight: 100;
		}

		img {
			margin-top: 10px;
			width: 100%;
		}

		nav {
			margin-top: 20px;
		}
	}

	.user-content {
		width: 75%;
		padding: 10px 10px 10px 60px;
		float: right;

		article {
			margin: 20px 0;

			&:first-child {
				margin-top: 0;
			}
		}

		iframe {
			display: block;
		}

		a {
			display: inline-block;
			margin-top: 20px;
		}

		h4 {
			margin-top: 0;
			font-size: 18px;
			text-transform: uppercase;
		}

		label {
			font-size: 12px;
			text-transform: uppercase;
		}

		input,
		textarea {
			margin-bottom: 12px;
		}

		.address {
			margin-bottom: 2px;
		}

		.progress {
			position: relative;
			span {
				width: 100%;
				left: 0;
				top: 0;
				position: absolute;
				display: block;
				font-size: 14px;
				color: #000;
				text-align: center;
				text-transform: uppercase;
			}
		}

		.status-complete {
			display: block;
			font-size: 12px;
			font-weight: 100;
			text-transform: uppercase;
			margin: -10px 0 10px 0;
		}

		.user-pitch-form {
			.badge {
				margin-left: 10px;
				position: relative;
				bottom: 1px;
				text-transform: none;
			}
		}

		.upload-wrap {
			margin-bottom: 40px; 
		}

		.table-striped {
			a {
				margin: 0;
				padding: 10px;
			}

			img {
				max-height: 60px;
			}
		}

		.upload-wrapper {
			position: relative; 
		}

		.spinner {
			top: 28px;
			left: 106px;
		}
	}
}