<section class="login">
	<div class="login-inner">
		<h1>The Labs // Login</h1>

		<form class="login-form" data-ng-submit="validateUser()">
			
			<input type="email" 
			       class="email form-control" 
			       name="email" 
			       placeholder="Email" 
			       data-ng-model="email" 
			       data-ng-click="clearErrors()"
			       required>

			<input type="password" 
			       class="password form-control" 
			       name="password" 
			       placeholder="Password" 
			       data-ng-model="password" 
			       data-ng-click="clearErrors()"
			       required>

			<button type="submit" 
			        class="submit btn btn-default"
			        data-ng-click="clearErrors()">login</button>

		</form>

		<div class="spinner glyphicon glyphicon-refresh" data-ng-class="{'visible': isSpinnerVisible}"></div>

		<div class="error-messages" data-ng-show="errorMessage !== ''">
			<span class="glyphicon glyphicon-remove-circle"></span>
			<span>{{errorMessage}}</span>
		</div>

		
		<ul class="links">
			<li>
				<a class="facebook"
				   data-ng-click="facebookLogin()">Facebook Login</a>
			</li>
			<li>
				<a href="#">Register</a>
			</li>
			<li>
				<a href="#">Forgot my password</a>
			</li>
		</ul>
	</div>
</section>