<article>
	<h4>Pitch wizzard form</h4>
	<span class="status-complete">{{status}} Complete</span>
	
	<div class="progress">
		<div class="progress-bar progress-bar-success progress-bar-striped" style="width:{{percentage}}%"></div>
	</div>

	<form class="user-pitch-form">
		<label>
			<span>Pitch name</span>
			<span popover="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam" popover-trigger="mouseenter" class="glyphicon glyphicon-question-sign"></span>
		</label>
		<input type="text" class="form-control" placeholder="" data-ng-model="user.pitch.name" data-ng-change="saveFirebase()" required>
		
		<label>
			<span>Key features</span>
			<span popover="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam" popover-trigger="mouseenter" class="glyphicon glyphicon-question-sign"></span>
		</label>
		<input type="text" class="form-control" placeholder="" data-ng-model="user.pitch.features" data-ng-change="saveFirebase()" required>
		
		<label>
			<span>Idea description</span> 
			<span popover="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam" popover-trigger="mouseenter" class="glyphicon glyphicon-question-sign"></span>
		</label>
		
		<div style="position: relative">
			<textarea class="form-control" rows="5" data-ng-model="user.pitch.description" data-ng-change="checkCharacters(); saveFirebase()" required></textarea>

			<span class="badge" style="position:absolute; bottom: 6px; right: 6px;">{{wordsLeft}} words left</span>
		</div>

		<div class="upload-wrapper" data-ng-show="filesRemaning > 0">
			<div class="spinner glyphicon glyphicon-refresh" data-ng-class="{'visible': isSpinnerVisible}"></div>
			<label>Multi file upload - {{filesRemaning}} file(s) left</label>
			<div s3-upload
		    	 bucket="'firebase'"
		    	 data-ng-model="user.files.image_url"
		         s3-upload-options="{getOptionsUri: 'php/s3_access.php?bucket=firebase', folder: 'uploads/'}">
			</div>
		</div>

		<article data-ng-if="user.docs">
			<div class="panel panel-default">
				<div class="panel-heading">Your docs</div>
				<table class="table table-striped">
			    	<tbody>
			      		<tr data-ng-repeat="doc in user.docs">
			        		<td class="title">{{doc.name}}</td>
			        		<td>{{doc.type}}</td>
			                <td class="center">
			                    <a href="{{doc.url}}" target="_blank">
			                        <img data-ng-if="doc.type.indexOf('image') > -1" data-ng-src="{{doc.url}}" alt="">
			                        <span data-ng-if="doc.type.indexOf('image') === -1">AWS Link</span>
			                    </a>
			                </td>
			                <td>
			                	<span class="glyphicon glyphicon-remove-sign" data-ng-click="removeDoc($index)"></span>
			                </td>
			      		</tr>
			    	</tbody>
				</table>
			</div>
		</article>

		<button class="btn btn-default" type="submit">Next step - Preview pitch</button>
	</form>

</article>