<article>
	<h4>Your Profile</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod at urna et euismod. Quisque est nisl, feugiat nec ipsum in, cursus efficitur nisl. Proin quis leo id leo posuere elementum. In nec arcu orci. Mauris molestie quis lectus quis venenatis. Sed malesuada vel diam vitae feugiat. Sed turpis leo, cursus ut scelerisque elementum, cursus eu nisl. Aenean at nulla at metus luctus elementum. Phasellus vel sapien augue. Sed nec justo porta, rutrum lectus eu, pellentesque quam. Nunc eget sapien suscipit, viverra urna quis, interdum sem.</p>
</article>

<article>
	<h4>Contact details</h4>
	
	<form class="user-edit-form">
		<label>Your Name</label>
		<input type="text" class="form-control" placeholder="Your Name" data-ng-model="user.name">
		
		<label>Your email address</label>
		<input type="text" class="form-control" placeholder="Your email address" data-ng-model="user.email">
		
		<label>Your phone number</label>
		<input type="text" class="form-control" placeholder="Your phone number" data-ng-model="user.phone">
		
		<label>Address</label>
		<input type="text" class="form-control address" placeholder="Address1" data-ng-model="user.address1">
		<input type="text" class="form-control address" placeholder="Address2" data-ng-model="user.address2">

		<label>Post code</label>
		<input type="text" class="form-control" placeholder="Post code" data-ng-model="user.postCode">

		<label>Country</label>
		<input type="text" class="form-control" placeholder="Country" data-ng-model="user.country">
	</form>

	<button type="button" class="btn btn-default" data-ng-click="saveFirebase()">Save changes</button>
</article>