<section class="container user">
	<header>
		<h1>{{user.name}}</h1>
		<h2>{{user.email}}</h2>
		<img data-ng-src="{{user.picture}}" alt="">

		<nav>
			<ul class="nav nav-pills nav-stacked">
				<li data-ng-class="{'active': activeTab === 0}">
					<a data-ng-click="gotoTab(0)">Home</a>
				</li>
				<li data-ng-class="{'active': activeTab === 1}">
					<a data-ng-click="gotoTab(1)">Edit profile</a>
				</li>
				<li data-ng-class="{'active': activeTab === 2}">
					<a data-ng-click="gotoTab(2)">Create pitch</a>
				</li>
				<li data-ng-class="{'active': activeTab === 5}">
					<a data-ng-click="logoutUser()">Logout</a>
				</li>
			</ul>
		</nav>

	</header>

	<div class="user-content">
		<div data-ng-show="activeTab === 0" data-user-home user="user"></div>
		<div data-ng-show="activeTab === 1" data-user-edit user="user"></div>
		<div data-ng-show="activeTab === 2" data-user-pitch user="user"></div>
	</div>
	
</section>