<article>
	<h4>Welcome {{user.name}}</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod at urna et euismod. Quisque est nisl, feugiat nec ipsum in, cursus efficitur nisl. Proin quis leo id leo posuere elementum. In nec arcu orci. Mauris molestie quis lectus quis venenatis. Sed malesuada vel diam vitae feugiat. Sed turpis leo, cursus ut scelerisque elementum, cursus eu nisl. Aenean at nulla at metus luctus elementum. Phasellus vel sapien augue. Sed nec justo porta, rutrum lectus eu, pellentesque quam. Nunc eget sapien suscipit, viverra urna quis, interdum sem.</p>
</article>

<article>
	<h4>Using the pitch wizzard</h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/c1FhZqpbgDw" frameborder="0" allowfullscreen></iframe>
</article>

<article data-ng-if="user.docs">
    <div class="panel panel-default">
        <div class="panel-heading">Your docs</div>
        <table class="table table-striped">
            <tbody>
                <tr data-ng-repeat="doc in user.docs">
                    <td class="title">{{doc.name}}</td>
                    <td>{{doc.type}}</td>
                    <td class="center">
                        <a href="{{doc.url}}" target="_blank">
                            <img data-ng-if="doc.type.indexOf('image') > -1" data-ng-src="{{doc.url}}" alt="">
                            <span data-ng-if="doc.type.indexOf('image') === -1">AWS Link</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>